<footer class="bg-black grid">
  <div class="h-16 logo">
    <a href="">
      <img class="h-full w-auto" src="assets/images/hmf-light.png" alt="housemate finder">
    </a>
  </div>
  <div class="main-footer">
    <ul>
      <li><h4>Company</h4></li>
      <li><a href="">About</a></li>
      <li><a href="">Careers</a></li>
      <li><a href="">Support</a></li>
    </ul>
    <ul>
      <li><h4>Explore</h4></li>
      <li><a href="">How it works</a></li>
      <li><a href="">Help</a></li>
      <li><a href="">FAQs</a></li>
    </ul>
    <ul>
      <li><h4>Legal</h4></li>
      <li><a href="">Terms & Conditions</a></li>
      <li><a href="">Privacy Policy</a></li>
    </ul>
  </div>


<hr>
  <ul class="socials">
    <li>
      <a href="">
        <i-feather name="instagram"></i-feather>
      </a>
    </li>
    <li>
      <a href="">
        <i-feather name="facebook"></i-feather>
      </a>
    </li>
    <li>
      <a href="">
        <i-feather name="twitter"></i-feather>
      </a>
    </li>
  </ul>

  <div class="copyright">
    &copy; Roommatesfinder 2018 All Rights Reserved
  </div>
</footer>
