<section class="relative">
  <button (click)="dialogRef.close(null)" class="absolute -top-6 -right-6 p-1 focus:outline-none">
    <i-feather name="x"></i-feather>
  </button>
  <ng-container *ngIf="!register; else signIn">
    <h3>Create an Account</h3>
    <article>
      <form class="!gap-4">
        <div>
          <label>
            <span>First Name</span>
            <input type="text">
          </label>
          <label>
            <span>Last Name</span>
            <input type="text">
          </label>
        </div>
        <div>
          <label>
            <span>Email</span>
            <input type="email" autocomplete="email">
          </label>
          <label>
            <span>Phone number</span>
            <input type="tel" autocomplete="phone">
          </label>
        </div>
        <div>
          <label>
            <span>Age Range</span>
            <select>
              <option>Select your range</option>
            </select>
          </label>
        </div>

        <div>
          <label class="relative">
            <span>Password</span>
            <input class="pr-6" autocomplete="current-password" [type]="showPass ? 'text' : 'password'">
            <button class="absolute right-1 top-8" type="button" (click)="showPass = !showPass">
              <fa-icon class="text-black/60" [icon]="showPass ? see : hide"></fa-icon>
            </button>
          </label>
        </div>
        <button type="button" class="signup" (click)="register = !register">
          SIGN UP & FIND A HOUSE MATE
        </button>
      </form>

      <div class="font-bold my-4 text-sm text-black/80">
        <span class="text-xs font-semibold text-black">OR</span>
      </div>

      <div>
        <button class="bg-[#3B5999]"><span>sign up with facebook</span>
          <fa-icon [icon]="facebook"></fa-icon>
        </button>
        <button class="bg-[#E04A32]" type="button"><span>sign up with google</span>
          <fa-icon [icon]="google"></fa-icon>
        </button>
      </div>

      <div class="!block text-xs !font-semibold mt-8">
        <span class="text-black/60 !w-[unset] inline-block mr-1 w-full">Already have an account? </span>
        <button (click)="register = !register" type="button" class="!text-primary-blue text-xs !w-[unset] !capitalize !inline !p-0">Sign In</button>
      </div>
    </article>

  </ng-container>

  <ng-template #signIn>
    <h3>Login to your Account</h3>

    <article>
      <form class="!gap-3 !mb-6">
        <label>
          <span class="sr-only">Enter email or phone number</span>
          <input type="text" placeholder="Email / Phone number">
        </label>

        <label>
          <span class="sr-only">Enter password</span>
          <input type="password" placeholder="Password">
        </label>

        <div class="text-right"><span class="text-xs text-black/70">Forgot your password?</span></div>

        <button class="w-full text-[#fff] uppercase bg-primary-blue rounded-none text-xs p-3">SIGN IN</button>
      </form>

      <hr>

      <div class="mt-4">
        <div>
          <span class="text-xs">If you don't already have an account click the button below to create your account</span>
        </div>

        <div>
          <button (click)="register = !register" class="bg-[#ffffff] border uppercase border-primary-blue rounded-none !text-xs !text-primary-blue !p-3 w-full">CREATE ACCOUNT</button>
        </div>

        <div><span class="text-xs font-semibold text-black">OR</span></div>

        <div class="flex flex-col gap-4">
          <button class="bg-[#3B5999]"><span class="text-xs">sign in with facebook</span>
            <fa-icon [icon]="facebook"></fa-icon>
          </button>
          <button class="bg-[#E04A32]" type="button"><span class="text-xs">sign in with google</span>
            <fa-icon [icon]="google"></fa-icon>
          </button>
        </div>
      </div>
    </article>

  </ng-template>
</section>
