<nav [ngClass]="open ? '!bg-black ' + classList : classList" class="w-screen z-10 bg-black" [style.background]="bgColor"
     (window:scroll)="onWindowScroll($event)">
  <div class="flex p-4 justify-between items-center border-b-white/10" [class.border-b]="open">
    <a href="" class="h-10 inline-block">
      <img class="h-full w-auto" src="assets/images/hmf-light.png" alt="housemate finder">
    </a>

    <button class="text-white flex items-center gap-2" (click)="open = !open">
      <i-feather *ngIf="!loggedIn" name="menu"></i-feather>
      <span *ngIf="loggedIn" class="inline-block border border-white overflow-hidden h-6 w-6 rounded-full">
        <img class="h-auto w-full" src="assets/images/shiba1.jpg" alt="kelvin">
      </span>
      <span class="text-xs text-shadow" *ngIf="loggedIn">Kelvin</span>
    </button>
  </div>


  <div class="dropdown" [class]="open ? '' : '-top-[400%]'">

    <div *ngIf="loggedIn">
      <ul class="w-full mx-4 flex flex-col gap-2">
        <li>
          <a href="#">
            PROFILE
          </a>
        </li>
        <li>
          <a href="#">
            <span>NOTIFICATION</span>
            <span>5</span>
          </a>
        </li>
        <li>
          <a href="#">
            MY LISTINGS
          </a>
        </li>
        <li>
          <a href="#">
            CHANGE PASSWORD
          </a>
        </li>
        <li>
          <a href="#">
            SIGN OUT
          </a>
        </li>
      </ul>
    </div>

    <div *ngIf="!loggedIn">
      <button (click)="openAuthModal()">SIGN IN</button>
      <button type="button" class="bg-primary-blue text-white">POST A ROOM</button>
    </div>
    <div [class.!justify-start]="loggedIn" class="mx-4">
      <a href="">HELP</a>
    </div>
  </div>
</nav>
